In [1]:
import itertools
import operator

In [2]:
from itertools import count

def count_example(start, step):
    counter = count(start, step)

    for c in counter:
        print(c)

        if c == 100:
            break

count_example(10, 5)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [3]:
from itertools import repeat

def repeat_example(element, max_repeats):
    repeater = repeat(element, max_repeats)

    for val in repeater:
        print(val)

repeat_example('hello', 10)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
from itertools import cycle

def cycle_example(elements):
    i = 0
    cycler = cycle(elements)
    while i < 100:
        print(next(cycler), end=" ")
        i += 1

cycle_example('ABCDEF')

A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D E F A B C D

In [5]:
from itertools import accumulate

def accumulate_example(elements):
    running_sum = accumulate(elements)
    print(list(running_sum))

accumulate_example([1,2,3,4,5,6,7,8,9,10])

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [6]:
from itertools import chain

def chain_example(elements1, elements2):
    chained = chain(elements1, elements2)
    print(list(chained))

chain_example("123", "456")

['1', '2', '3', '4', '5', '6']

In [7]:
from itertools import chain

def chain_from_iterable_example(iterable):
    chained = chain.from_iterable(iterable)
    print(list(chained))

chain_from_iterable_example([[1,2,3], [4,5,6], [7,8,9], [10,11,12]])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [8]:
from itertools import compress

def compress_example(data, selectors):
    compressed = compress(data, selectors)
    print(list(compressed))

compress_example([["a", "b", "c"], [1, 2, 3], [True, False, True]], [True, False, False])

[['a', 'b', 'c']]

In [9]:
from itertools import pairwise

def pairwise_example(iterable):
    paired = pairwise(iterable)
    print(list(paired))

pairwise_example([1,2,3,4,5,6,7,8,9,10])

[(1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 10)]

In [10]:
from itertools import product

def product_example(iterable1, iterable2):
    result = product(iterable1, iterable2)
    print(list(result))

product_example([1, 2, 3], ["a", "b", "c"])

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [11]:
from itertools import permutations

def permutaions_example(iterable, size):
    result = permutations(iterable, size)
    print(list(result))

permutaions_example("ABCD", 2)

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'A'), ('B', 'C'), ('B', 'D'), ('C', 'A'), ('C', 'B'), ('C', 'D'), ('D', 'A'), ('D', 'B'), ('D', 'C')]

In [12]:
from itertools import combinations

def permutaions_example(iterable, size):
    result = combinations(iterable, size)
    print(list(result))

permutaions_example("ABCD", 2)

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D'), ('C', 'D')]

In [13]:
import itertools
import operator

In [14]:
import itertools
for i in itertools.count(5, 1):
    if i == 15:
        break
    else:
        print(i, end =" ")

5 6 7 8 9 10 11 12 13 14

In [15]:
import itertools
count = 0
for i in itertools.cycle('123'):
    if count > 7:
        break
    else:
        print(i, end = " ")
        count += 1

1 2 3 1 2 3 1 2

In [16]:
import itertools
print ("Printing numbers repeatedly : ")
print (list(itertools.repeat(100, 4)))

Printing numbers repeatedly :
[100, 100, 100, 100]

In [17]:
from itertools import product
print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [18]:
from itertools import permutations
print ("All the permutations of the given string is:")
print (list(permutations('12')))
print()
print ("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

All the permutations of the given string is:
[('1', '2'), ('2', '1')]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [19]:
from itertools import combinations
print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

In [20]:
from itertools import combinations_with_replacement
print ("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 2)))
print()

All the combination of string in sorted order(with replacement) is:
[('A', 'A'), ('A', 'B'), ('B', 'B')]

ITERATOR	ARGUMENTS	EXAMPLE
accumulate()	iterable ,function	accumulate([1,2,3,4,5]) --> 1 3 6 10 15
chain()	iterable1 ,iterable2, ...	chain('ABC', 'DEF') --> A B C D E F
chain.from_iterable()	iterable	chain.from_iterable(['ABC', 'DEF']) --> A B C D E F
compress()	iterable ,selector	compress('ABCDEF', [1,0,1,0,1,1]) --> A C E F
dropwhile()	function ,sequence	dropwhile(lambda x: x<5, [1,4,6,4,1]) --> 6 4 1
filterfalse()	function, sequence	filterfalse(lambda x: x%2, range(10)) --> 0 2 4 6 8
groupby()	iterable ,key	key_func = lambda x: x[0] itertools.groupby(L, key_func):
islice()	iterable, start, stop, step	islice('ABCDEFG', 2, None) --> C D E F G
starmap()	function ,sequence	starmap(pow, [(2,5), (3,2), (10,3)]) --> 32 9 1000
takewhile()	func ,iterable	takewhile(lambda x: x<5, [1,4,6,4,1]) --> 1 4
tee()	iterable ,count	it = itertools.tee(iti, 3) iti = [2, 4, 6, 7, 8, 10, 20]
zip_longest()	iterable1 ,iterable2	zip_longest('ABCD', 'xy', fillvalue='-') --> Ax By C- D-

In [21]:
import itertools
import operator
li1 = [1, 4, 5, 7]
print ("The product after each iteration is : ", end ="")
print (list(itertools.accumulate(li1, operator.mul)))

The product after each iteration is : [1, 4, 20, 140]

In [22]:
import itertools
li1 = [1, 4, 5, 7]
li2 = [1, 6, 5, 9]
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain(li1, li2)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9]

In [23]:
import itertools
li1 = [1, 4, 5, 7]
li2 = [1, 6, 5, 9]
li3 = [8, 10, 5, 4]
li4 = [li1, li2, li3]
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [24]:
import itertools
print ("The compressed values in string are : ", end ="")
print (list(itertools.compress('ILOVESOCCER', [1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))
print (list(itertools.compress('ILOVESOCCER', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])))

The compressed values in string are : ['I', 'S', 'C']
[]

In [25]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [26]:
import itertools
li = [2, 4, 5, 7, 8 ,10 ,1 , 12 , 14 ,13 ]
print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7, 1, 13]

In [27]:
import itertools
a_list = [("Animal", "cat"),
          ("Animal", "dog"),
          ("Bird", "peacock"),
          ("Bird", "pigeon")]
an_iterator = itertools.groupby(a_list, lambda x : x[0])
for key, group in an_iterator:
    key_and_group = {key : list(group)}
    print(key_and_group)

{'Animal': [('Animal', 'cat'), ('Animal', 'dog')]}
{'Bird': [('Bird', 'peacock'), ('Bird', 'pigeon')]}

In [28]:
import itertools
li = [2, 4, 5, 7, 8, 10, 20]
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 7, 1)))
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 5, 7, 8, 10, 20]
The sliced list values are : [4, 7, 10]

In [29]:
from itertools import starmap
co_ordinates =[(2, 3, 4),
               (3, 4, 5),
               (6, 8, 10),
               (1, 5, 7),
               (7, 4, 10)]
right_triangles = list(starmap(lambda x, y, z:True
                               if ((x * x)+(y * y))==(z * z)
                               else False, co_ordinates))
print("tuples which form right angled triangle :",
      right_triangles, end ="\n")
print("The right triangle coordinates are :",
      end ="")
for i in range (0, len(right_triangles)):
    if right_triangles[i]== True:
        print(co_ordinates[i], end =" ")

tuples which form right angled triangle : [False, True, True, False, False]
The right triangle coordinates are :(3, 4, 5) (6, 8, 10)

In [30]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]

In [31]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]
iti = iter(li)
it = itertools.tee(iti, 3)
print ("The iterators are : ")
for i in range (0, 3):
   print (list(it[i]))

The iterators are :
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]

In [32]:
from itertools import zip_longest
x =[1, 2, 3, 4, 5, 6, 7]
y =[8, 9, 10]
z = list(zip_longest(x, y))
print(z)

[(1, 8), (2, 9), (3, 10), (4, None), (5, None), (6, None), (7, None)]

In [34]:
# Create an iterator that counts from 5 with a step of 2
counter = count(5, 2)
# Print the first 5 numbers
for i in range(5):
  print(next(counter))

TypeError: 'int' object is not callable

In [35]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [36]:
point = (3, 4)
x, y = point
print(f"x: {x}, y: {y}")  # Output: x: 3, y: 4

x: 3, y: 4

In [37]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

{'apple', 'cherry', 'banana', 'orange'}

In [38]:
student = {'name': 'John', 'age': 20, 'grade': 'A'}
print(student['name'])  # Output: John

John

In [39]:
from collections import deque

queue = deque()
queue.append('apple')
queue.append('banana')
queue.append('cherry')
print(queue.popleft())  # Output: apple

apple

In [40]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age'])
person = Person('John', 25)
print(person.name)  # Output: John

John